@import "tailwindcss";

:root {
  --background: #F9FAFB;
  --foreground: #111928;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --gradient-orange: linear-gradient(to top, #FF8A4C, #F05252);
  --font-helvetica: 'Helvetica Neue'
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0A0A0A;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
}
